## Pandas DataFrame: Create from lists of values

In [8]:
import numpy as np
x = [i for i in range(0,21)]
y = np.sin(x)

print(x,y)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] [ 0.          0.84147098  0.90929743  0.14112001 -0.7568025  -0.95892427
 -0.2794155   0.6569866   0.98935825  0.41211849 -0.54402111 -0.99999021
 -0.53657292  0.42016704  0.99060736  0.65028784 -0.28790332 -0.96139749
 -0.75098725  0.14987721  0.91294525]

In [9]:
dataframe = pd.DataFrame({
    'x': x,
    'y': y
                             })
dataframe['z'] = np.cos(x)

dataframe

     x         y         z
0    0  0.000000  1.000000
1    1  0.841471  0.540302
2    2  0.909297 -0.416147
3    3  0.141120 -0.989992
4    4 -0.756802 -0.653644
5    5 -0.958924  0.283662
6    6 -0.279415  0.960170
7    7  0.656987  0.753902
8    8  0.989358 -0.145500
9    9  0.412118 -0.911130
10  10 -0.544021 -0.839072
11  11 -0.999990  0.004426
12  12 -0.536573  0.843854
13  13  0.420167  0.907447
14  14  0.990607  0.136737
15  15  0.650288 -0.759688
16  16 -0.287903 -0.957659
17  17 -0.961397 -0.275163
18  18 -0.750987  0.660317
19  19  0.149877  0.988705
20  20  0.912945  0.408082